@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('webFonts/Gilroy-ExtraBold/font.woff2') format('woff2'), url('webFonts/Gilroy-ExtraBold/font.woff') format('woff');
}

body {
	margin: 0;
}

.content {
	display: grid;
}

.banner {
	width: 100%;
	top:0;
	left:0;
}

.strip {
	width: 100%;
	height: 15px;
	background-color: #328ab5;
	margin-top: -5px;
}

.form {
	text-align: center;
}

.text {
  text-align: center;
  height: auto;
  margin-top: 40px;
  margin-left: 170px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding-bottom: 30px;
}

strong {
  font-weight: bolder;
}

.mission {
  margin-top: 30px;
  width: 80%;
  display: inline-block;
  font-weight: bold;
}

p {
  width: 65%;
  text-align: left;
  display: inline-block;
  line-height: normal;
}
